@import "tailwindcss";
@import "@yohns/picocss/css/pico.conditional.css";
/* @import "@yohns/picocss/css/pico.conditional.blue.css"; */
/* @import "@yohns/picocss/css/pico.colors.css"; */

/* @import "@picocss/pico/css/pico.css"; */
@import "hamburgers/dist/hamburgers.css";
@import "./theme-toggle.css";
@import "./sidebar.css";
@import "./variables.css";


body {
    display: flex;
    min-height: 100dvh;
    min-width: 350px;
    width: 100%;
    font-family: var(--pico-font-family-monospace);
}

svg {
    height: 20px;
    width: auto;
    fill: currentColor;
}

a {
    text-decoration: none;
}

.overlay {
    position: fixed;
    /* Or absolute, depending on your needs */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    /* Semi-transparent black */
    z-index: 99;
    /* Ensure it's on top of other content */
    display: none;
    /* Hide by default, show with JavaScript or CSS */
    transition: all 0.3s ease-in-out;
}

[data-theme=dark] {
    .overlay {
        background-color: hsla(0, 0%, 100%, 0.2);
    }
}

main {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;

    & span {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1;
    }

    & svg {
        height: 1.4rem;
        width: auto;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 5px auto;
        width: 80%;
        height: 0.08rem;
        background: var(--pico-color);
        opacity: 0.9;
    }
}

.todoes {
    width: 100%;
    max-width: 400px;

    & table.list {
        border: 1px solid var(--pico-table-border-color);

        & tbody td {
            padding: 0.4rem 0.5rem;
        }

        & tbody tr td:nth-child(1),
        & tbody tr td:nth-child(2) {
            width: 40px;
            font-size: 0.85rem;
        }

        & tbody tr td:last-child {
            width: 110px;
        }

        & tbody tr:last-child td {
            border-bottom: none;
        }

        & tr:has(:checked) {
            text-decoration: line-through;
        }
    }

    & table.detail {

        border: 1px solid var(--pico-table-border-color);

        & tbody td,
        & tbody th {
            padding: 0.4rem 0.5rem;
        }

        & th {
            width: 110px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }

}

.empty-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    & svg {
        width: 60px;
        height: auto;
    }
}

.pico button.icon,
.pico a[role=button] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pico button.small,
.pico a.small {
    padding: 0;

    & svg {
        width: auto;
        height: 28px;
    }
}