:root{
    --pico-border-radius: 0.15rem;
    --pico-form-element-placeholder-color: red;
}


/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {

  --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.08);
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {


    --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.2);
  }
}
/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {

  --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.2);
}