<div class="pico">
    <dialog id="confirm-modal" class="modal-sm">
		<article>
			<p><%= message %></p>
			<footer>
				<button id="confirm-cancel" class="secondary">Cancel</button>
				<button id="confirm-ok" class="primary">Confirm</button>
			</footer>
		</article>
	</dialog>
</div>