<div
	id="confirm-modal"
	class="modal modal-sm fade"
	tabindex="-1"
	aria-labelledby="confirmModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-center pt-4 pb-3 px-2"><%= message %></div>
			<div class="modal-footer justify-content-center border-0">
				<button id="confirm-cancel" class="btn btn-secondary"><%= t('cancel') %></button>
				<button id="confirm-ok" class="btn btn-primary"><%= t('confirm') %></button>
			</div>
		</div>
	</div>
</div>
