<!DOCTYPE html>
<html translate="no" lang="en">
	<head>
		<%- include('./partials/head', {title: "Todo App With Bootstrap" }); %>
	</head>

	<body>
		<%- include('./partials/sidebar'); -%>
		<main>
			<h1>main</h1>
		</main>

		<!-- ./ Modal example -->
		<script type="module" src="/assets/js/main.js"></script>
	</body>
</html>
