<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

    <nav id="nav" class="m l max left primary-container">
        <header></header>
        <a>
            <img class="circle"
                src="https://firebasestorage.googleapis.com/v0/b/everton-17da5.appspot.com/o/favicon%20beercss.png?alt=media">
            <a>
                <i>home</i>
                <span>Install</span>
            </a>
            <a>
                <i>widgets</i>
                <span>Explore</span>
            </a>
            <a onclick="left()">
                <i>arrow_back</i>
                <span>Left</span>
            </a>
            <a onclick="right()">
                <i>arrow_forward</i>
                <span>Right</span>
            </a>
            <a>
                <i>code</i>
                <span>Code</span>
            </a>
    </nav>
    <main>
        <div class="space"></div>
        <div class="center-align">
            <div> Navigation helpers: </div>
            <div class="grey-text"> left right top bottom center-align left-align right-align max min</div>
            <a class="blue-text" target="_blank" href="https://github.com/beercss/beercss/releases/tag/v3.11.17"> Latest
                release: v3.11.17 </a>
        </div>
    </main>

    <script type="module" src="/assets/js/main.js"></script>
</body>

</html>