<!DOCTYPE html>
<html translate="no" lang="en">

<head>
    <%- include('../partials/meta'); -%>
        <title>Preview • Pico CSS</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
    <%- include('../partials/sidebar'); -%>
        <main>
            <div class="pico todoes">
                <h1>Create Todo</h1>
                <form method="post" action="/todoes/create" autocomplete="off">
                    <input type="text" name="task" placeholder="Task" aria-label="Task">
                    <div>
                        <a href="/" role="button" class="secondary icon">
                            <%- include('../icons/previous-icon'); -%>
                            <span>Back</span>
                        </a>
                        <button type="submit" class="primary icon">
                            <%- include('../icons/plus-icon'); -%>
                            <span>Create</span>
                        </button>
                    </div>

                </form>
            </div>

        </main>

        <script type="module" src="/assets/js/main.js"></script>
</body>

</html>