<!DOCTYPE html>
<html translate="no" lang="en">

<head>
  <%- include('../partials/meta'); -%>
    <title>Preview • Pico CSS</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
  <%- include('../partials/sidebar'); -%>
    <main>
      <div class="pico todoes">
        <header>
          <h2 class="text-center">TODO</h2>
        </header>
        <table class="striped">
          <tbody>
            <tr>
              <th>Task</th>
              <td><%= todo.task %></td>
            </tr>
          </tbody>
        </table>
        <footer>
          <a href="/" role="button" class="secondary icon">
            <%- include('../icons/previous-icon'); -%>
              <span>Back</span>
          </a>
        </footer>
      </div>

    </main>

    <script type="module" src="/assets/js/main.js"></script>
</body>

</html>